<%- include('includes/head') %>
<%- include('includes/nav') %>

<div class="container">
    <div class="row">
        <div class="col-lg-1"></div>
        
        <div class="col-lg-10 my-3">
            <h1 class="text-center">Agenda</h1>
            <% if (contacts.length > 0) { %>
              <p class="text-center lead">Seus contatos.</p>
            <% } else { %>
              <p class="text-center lead">Ainda não existem contatos cadastrados.</p>
            <% } %>
            
        </div>

        <%- include('includes/messages') %>

        <div class="table-responsive">
            <table class="table table-striped my-3">
                <% if (contacts.length > 0) { %>
                <thead>
                    <tr>
                        <th>Nome</th>
                        <th>Sobrenome</th>
                        <th>Telefone</th>
                        <th>E-mail</th>
                        <th>Editar</th>
                        <th>Excluir</th>
                    </tr>
                </thead>
                <% } %>
                <tbody>
                    <% contacts.forEach(contact => { %>
                    <tr>
                        <td><%= contact.name %></td>
                        <td><%= contact.surname %></td>
                        <td><%= contact.phone %></td>
                        <td><%= contact.email %></td>
                        <td><a href="/contact/<%= contact._id %>">
                            <img alt="Edit icon" src="/assets/img/edit.png" style="width: 1.5rem;"></a></td>
                        <td><a href="/contact/delete/<%= contact._id %>">
                            <img src="/assets/img/bin.png" alt="Bin icon" style="width: 1.5rem;"></a></td>
                    </tr>
                    <% }) %>
                </tbody>
            </table>
        </div>

        <div class="col-lg-1"></div>
    </div>
</div>

<%- include('includes/footer') %>